cover.out

.idea
.vscode

__debug_*

# .env is ignored to cater for a local development flow, with a clean git trea.
.env
.envrc

# Temporary directory for air builds https://github.com/air-verse/air
/tmp

.DS_Store

local.go
resolver.go

configuration-service

*.pem
