cover.out

.idea

__debug_*

# .env is ignored to cater for a local development flow, with a clean git trea.
.env

# Temporary directory for air builds https://github.com/air-verse/air
/tmp

.DS_Store

# Remove any SQLite databases created
*.db

testdata/NIST_SP-800_218_catalog.json
testdata/OWASP_DSOMM_3.28.2.json
testdata/SAMA_CSF_1.0_catalog.json
testdata/SAMA_ITGF_1.0_catalog.json